@import "./components/button.css";
@import "./components/card.css";
@import "./components/header.css";
@import "./components/navigation.css";
@import "./components/global.css";
@import "./components/profile.css";

@font-face {
  font-family: "Genaminto";
  src: url("./assets/genaminto/fonts/otf/Genaminto-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-primary: #a8dadc;
  --color-secondary: #457b9d;
  --color-accent: #e63946;
  --color-background: #f1faee;
  --color-dark: #1d3557;
}

body {
  background-color: var(--color-secondary);
}
