@import "./components/card.css";
.button--show-answers  {
    font-size: 1.2rem;
    padding: 2rem ;
    color: var(--color-background);
    text-align: center;
    background-color: var(--color-dark);
    border-radius: 25px;
    display: flex;   
    border: none;
}

.button--show-answers:hover {
    background-color: green;
    cursor: pointer;
}

.button--show-answers-postioning {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;     
    padding: 15px; 
}
.button--bookmark  {
    position: absolute;
    top: -39px;
    left: -29px;
    font-size: rem;
    padding: 2rem ;
    color: var(--color-dark); 
    text-align: center;
    border-radius: 25px;
    background-color: transparent;
    border: none
}
.button--bookmark:hover {
    cursor: pointer;
    color: var(--color-accent);
}
.button--answers {
    font-size: 1.2rem;
    padding: 1rem 1rem ;
    color: var(--color-background);
    text-align: center;
    background-color: var(--color-dark);
    border-radius: 25px;
    border: none;
}
.button--answers:hover {
    background-color: var(--color-accent);
    cursor: pointer;
}

.button--category {
    font-size: 1rem;
    padding: 0.5rem 1rem ;
    color: var(--color-background);
    text-align: center;
    background-color: var(--color-dark);
    border-radius: 25px;
    border: none;
}
.button--category:hover {
    background-color: var(--color-accent);
    cursor: pointer;
}